@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
   
  }
}

.active-link {
  font-weight: bold;
 background-color: #06b6d4;
 color: #ffffff;

}

.custom-height {
  height: 900px; 
}



body {
  color: rgb(var(--foreground-rgb));
  
}



/* Add this to your CSS if you want to customize */
.scroll-to-top {
  position: fixed;
  bottom: 2rem;
  right: 2rem;
  cursor: pointer;
  z-index: 1000;
}




@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
